!!! 5
%html
  %head
    %link{:crossorigin => "anonymous", :href => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css", :integrity => "sha384-XXXXXXXX", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha384-XXXXXXXX", :src => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"}


  %body
    = yield
